/node_modules

# Added ignore for development
/public/
/public/css
/public/js
/public/css/main.css
/public/css/main.css.map
/public/js/event-create.js
/public/js/search.js
/public/js/search.js.map

/public/mix-manifest.json
# End of added ignores

/public/hot
/public/storage
/public
/storage/*.key
/vendor
/public
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
phploy.ini
