/node_modules
/public/mix-manifest.json
/public/hot
/public/storage
/public
/storage/*.key
/vendor
/public
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
