@import '../colors.scss';

.venue-container {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;

    .left-side {
        display: flex;
        flex-direction: column;

        .info  {
            padding-top: 1rem;
            padding-bottom: 1rem;
            p{
                font-size: 16px;
                padding-bottom: 1rem;
            }
        }
    }

    .table-style {
                border-collapse: collapse;
                margin: 25px 0px;
                font-size: $table_font_size;
                min-width: 300px;
                box-shadow: $main-shadow;

                thead tr {
                    background-color: $thead-color;
                    color: #ffffff;
                    text-align: left;
                }

                th, td {
                    padding: 10px 15px;
                }

                tbody tr {
                    border-bottom: 1px solid #dddddd;
                }

                tbody tr:nth-of-type(even){
                    background-color: $background;
                }

                tr:hover td{
                    color:black;
                    border-top: 1px solid grey;
                    border-bottom: 1px solid grey;
                }
    
                tbody tr:last-of-type {
                    border-bottom: 2px solid $thead-color;
            }
        }
}

.edit-form {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    justify-content: flex-start;
    margin-left: 5rem;

    h2 {
        text-align: left;
    }
}