.img-group-owner {
  width: 20px;
  color: #222;
  align-self: center;
}

.group-display-members {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.form-create-group {
  display: flex;
  flex-direction: column;
  width: 35%;
  background-color: #ccc;
  padding: 1em;
}
.form-create-group input[type=text] {
  width: 100%;
  padding: 0 10%;
}
.form-create-group_item {
  width: 80%;
}
h1 {
  font-style: "Comfortaa", cursive;
}

.admin-container {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  justify-items: start;
  margin: 2em;
  font-family: "Comfortaa", cursive;
}
.admin-container .left-side h2, .admin-container .right-side h2 {
  text-align: left;
}
.admin-container .left-side button, .admin-container .right-side button {
  text-align: center;
}
.admin-container .left-side .table-style, .admin-container .right-side .table-style {
  border-collapse: collapse;
  margin: 25px 0px;
  font-size: 18px;
  min-width: 300px;
  box-shadow: 0px 1px 5px #adadad;
}
.admin-container .left-side .table-style thead tr, .admin-container .right-side .table-style thead tr {
  background-color: #edae49;
  color: #ffffff;
  text-align: left;
}
.admin-container .left-side .table-style th, .admin-container .left-side .table-style td, .admin-container .right-side .table-style th, .admin-container .right-side .table-style td {
  padding: 10px 15px;
}
.admin-container .left-side .table-style tbody tr, .admin-container .right-side .table-style tbody tr {
  border-bottom: 1px solid #dddddd;
}
.admin-container .left-side .table-style tbody tr:nth-of-type(even), .admin-container .right-side .table-style tbody tr:nth-of-type(even) {
  background-color: #fffaf1;
}
.admin-container .left-side .table-style tbody tr:last-of-type, .admin-container .right-side .table-style tbody tr:last-of-type {
  border-bottom: 2px solid #edae49;
}

.nav-container {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.9em;
  margin: 0;
  border-bottom: 1.5px solid #ea2b1f;
}
.nav-container-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.nav-container-list a {
  color: #606567;
  text-decoration: none;
  font-family: "Comfortaa", cursive;
}
.nav-container-list a:hover {
  border-bottom: solid 1px #222;
}
.nav-container-list li {
  margin-right: 1em;
}
.btn__log-out {
  padding: 0;
  font-size: 1em;
  font-family: "Comfortaa", cursive;
  color: #222;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.btn__log-out:hover {
  border-bottom: solid 1px #222;
}

* {
  box-sizing: border-box;
  margin: 0;
}

#search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

main {
  width: 100vw;
  height: 100%;
  margin-top: 0;
  padding: 0;
  display: flex;
}

.search-grid {
  position: relative;
  margin-top: 15px;
  box-shadow: 0px 1px 5px #adadad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

div p {
  margin: 0.1rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.refine {
  cursor: pointer;
}

.container {
  background-color: #fffaf1;
  width: 75vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.column {
  background-color: #f9edcc;
  width: 25%;
  height: 50vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
  padding: 10px;
  border: 2.5px solid #ea2b1f;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #ea2b1f;
  position: absolute;
}
.column:nth-child(1) {
  left: 20px;
}
.column:nth-child(1) h2 {
  font-size: 2em;
}
.column:nth-child(2) {
  background-color: #f9edcc;
  width: 30%;
  height: 55vh;
  box-shadow: 1.5px 1.5px 6px #ea2b1f;
  position: relative;
}
.column:nth-child(2) h2 {
  font-size: 2.6em;
  font-weight: 900;
}
.column:nth-child(3) {
  right: 20px;
}
.column:nth-child(3) h2 {
  font-size: 2em;
}

.list {
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-weight: bold;
}

h2 {
  margin: 0.1rem;
  text-align: center;
}

h3 {
  margin: 0.1rem;
  text-align: center;
  font-size: 1.5em;
}

h5 {
  border-bottom: 1px solid black;
  margin: 0.1rem;
  text-align: center;
}

.drag-space {
  background-color: #f9edcc;
  width: 90%;
  height: 90%;
  margin-top: 10px;
  padding: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  border-top: 2.5px solid #ea2b1f;
  overflow: hidden auto;
}
.drag-space ol {
  margin: 20px;
  padding: 0;
}
.drag-space li {
  font-size: 1em;
  margin: 6px;
  font-family: "Comfortaa", cursive;
}
.drag-space .instructions-bold {
  font-weight: 900;
}
.drag-space::-webkit-scrollbar {
  background-color: #f9edcc;
  width: 0.9em;
  cursor: auto;
}
.drag-space::-webkit-scrollbar-button {
  border: 1px solid #414c6b;
}
.drag-space::-webkit-scrollbar-track {
  background-color: #edae49;
}
.drag-space::-webkit-scrollbar-thumb {
  background-color: rgba(234, 43, 31, 0.6);
  height: 30%;
}
.drag-space::-webkit-scrollbar-thumb:hover {
  background-color: rgba(65, 76, 107, 0.8);
}

.dragging {
  background-color: #ff6951;
  box-shadow: 5px 5px 5px black;
}

.dragged-over {
  background-color: #ea2b1f;
  color: red;
}

.column h2 {
  color: #414c6b;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.inner-column {
  background-color: #f9df74;
  width: 90%;
  height: 20%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 5%;
  padding: 10px;
  border-bottom: 2px solid grey;
  border-radius: 5px;
  font-family: "Comfortaa", cursive;
  box-shadow: 3px 2px 5px #222;
}
.inner-column button {
  margin: 0;
}

.inner-column:hover {
  transition: transform 0.3s ease-in;
  transform: rotate(1deg);
}

.sub-category-box {
  background-color: #edae49;
  font-size: 0.8em;
  width: 75%;
  border: none;
}

.hidden {
  display: none;
}

ol {
  font-size: 0.8em;
}

button.refine {
  background-color: #414c6b;
  color: #ffffff;
  width: 60px;
  height: 24px;
  border-color: rgba(187, 99, 72, 0.8);
  border-radius: 6px;
  box-shadow: 1px 0px 0px #222;
}
button.refine.close {
  background-color: #ea2b1f;
  color: #fff;
  font-weight: 600;
}

.inputs {
  background-color: #fffaf1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 75vw;
  margin-top: 0;
  padding: 0 15%;
  color: #222;
}
.inputs-item {
  width: 90%;
  margin-left: 10px;
  margin-top: 15px;
  padding: 5px 0 10px 10px;
  display: grid;
  grid-template-rows: 45% 1fr;
  font-weight: 700;
  background-color: #edae49;
  border-radius: 5px;
  box-shadow: 0px 1px 5px #adadad;
  position: relative;
  z-index: 1;
}
.inputs label {
  padding-left: 3px;
  padding-bottom: 0;
  margin: 0;
}
.inputs input {
  width: 80%;
  height: 100%;
  padding: 3px;
  border-radius: 5px;
  border: none;
  background-color: #f9edcc;
}

.btn-search-container {
  background-color: #fffaf1;
  width: 75vw;
  display: flex;
  justify-content: center;
}

.btn-search-results {
  background-color: #edae49;
  color: #222;
  width: 50%;
  border: #f9edcc;
  box-shadow: 2px 2px 5px #9b9a9a;
  padding: 5px;
  font-size: 1.3em;
  font-weight: 600;
  border-radius: 5px;
  margin: 0 0 20px;
  position: relative;
  z-index: 1;
  bottom: 30px;
}

.popup-bg {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.popup-bg h2,
.popup-bg h3 {
  margin: 1rem 0;
  padding: 0.5rem 0;
  border: none;
}

.popup {
  height: 80%;
  width: 60%;
  padding: 0 20px;
  z-index: 3;
  background: #dfb871;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden scroll;
}
.popup button {
  align-self: center;
}

.users-list {
  display: flex;
  list-style-type: none !important;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=main.css.map*/