$background_color: darkgoldenrod;
$login_button: darkmagenta;

// general
$background: #fffaf1;
$background-draggable: #f9edcc;
$pop-border: #ea2b1f;
$search: #edae49;
$box-light-yellow: #faca7d;
$light-yellow: #f9df74;
$headers: #414c6b;

// soft shadow
$main-shadow: 0px 1px 5px rgb(173, 173, 173);
$pop-shadow: 1px 1px 5px $pop-border;

// font
$font-headers: "Nunito", sans-serif;

// ADMIN SECTION COLORS
$table_font_size: 18px;
$background: #fffaf1;
$even_rows: #f9edcc;
$input-colort: #f9edcc;
$thead-color: #edae49;
$button-color: #414c6b;
$main-shadow: 0px 1px 5px rgb(173, 173, 173);
$font-text: "Comfortaa", cursive;
