.img-group-owner {
    width: 20px;
    color: #222;
    align-self: center;
}

.group-display-members {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.btn-group-remove {
}
